{% extends "pizzas/base.html" %}

{% block content %}

<p> pizza: {{ pizza }} </p>

<ul>
    {% for t in toppings %}

    <li> {{ t.topping_name }}</li>

    {% empty %}
    <li> No toppings for this pizza have been added. </li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'pizzas:comment' pizza.id %}">Add a new comment</a>
</p>

<ul>
    {% for c in comments %}
    <l1> {{ c.comment}} </l1>
    {% empty %}
    <li> There are no comments for this pizza. </li>
    {% endfor %}
</ul>
{% endblock content %}